<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>High Sierra.jpg</string>
	<string>Sierra.jpg</string>
	<string>Sierra 2.jpg</string>
	<string>El Capitan.jpg</string>
	<string>El Capitan 2.jpg</string>
	<string>Yosemite.jpg</string>
	<string>Yosemite 2.jpg</string>
	<string>Yosemite 3.jpg</string>
	<string>Yosemite 4.jpg</string>
	<string>Yosemite 5.jpg</string>
	<string>Wave.jpg</string>
	<string>Rolling Waves.jpg</string>
	<string>Galaxy.jpg</string>
	<string>Earth and Moon.jpg</string>
	<string>Earth Horizon.jpg</string>
	<string>Milky Way.jpg</string>
	<string>Moon.jpg</string>
	<string>Underwater.jpg</string>
	<string>Bahamas Aerial.jpg</string>
	<string>Beach.jpg</string>
	<string>Rice Paddy.jpg</string>
	<string>Forest in Mist.jpg</string>
	<string>Foggy Forest.jpg</string>
	<string>Mountain Range.jpg</string>
	<string>Sky.jpg</string>
	<string>Floating Ice.jpg</string>
	<string>Snow.jpg</string>
	<string>Blue Pond.jpg</string>
	<string>Death Valley.jpg</string>
	<string>Ducks on a Misty Pond.jpg</string>
	<string>Pink Forest.jpg</string>
	<string>Desert.jpg</string>
	<string>Mt. Fuji.jpg</string>
	<string>Antelope Canyon.jpg</string>
	<string>Lake.jpg</string>
	<string>Isles.jpg</string>
	<string>Eagle &amp; Waterfall.jpg</string>
	<string>Flamingos.jpg</string>
	<string>Elephant.jpg</string>
	<string>Lion.jpg</string>
	<string>Frog.jpg</string>
	<string>Grass Blades.jpg</string>
	<string>Floating Leaves.jpg</string>
	<string>Bristle Grass.jpg</string>
	<string>Zebras.jpg</string>
	<string>Foxtail Barley.jpg</string>
	<string>Red Bells.jpg</string>
	<string>Poppies.jpg</string>
	<string>Pink Lotus Flower.jpg</string>
	<string>Shapes.jpg</string>
	<string>Brushes.jpg</string>
	<string>Abstract.jpg</string>
	<string>Hawaiian Print.jpg</string>
	<string>Circles.jpg</string>
	<string>Architecture.jpg</string>
	<string>Abstract Shapes.jpg</string>
	<string>Color Burst 1.jpg</string>
	<string>Color Burst 2.jpg</string>
	<string>Color Burst 3.jpg</string>
	<string>Ink Cloud.jpg</string>
</array>
</plist>
